.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
data key = uk5mSxFkK9V65pS1W2OosKI3YOxbhtp5r0FD1git

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
